<div class="container">
    <section class="filter__section">
      <h2 class="filter__text">Filter movies</h2>
      <select class="filter__input" name="genre_choice" id="genre_choice">
        <option value="">Choose genre</option>
      </select>
      <select class="filter__input" name="year_choice" id="year_choice"></select>
      <select class="filter__input" name="sort_choice" id="sort_choice">
      <option value="vote_average.desc">Average voite</option>
      <option value="vote_count.desc">Vote count</option>
      <option value="popularity.desc">Popularity</option>
    </select>
    </section>
  </div>