<header class="page-header">
  <div class="page-header__menu-container">
    <a class="logo" href="/src/index.html">
      <svg width="24px" height="24px">
        <use
          class="logo__icon-filmoteka"
          href="./images/sprite/symbol-defs.svg#icon-film"
        ></use>
      </svg>
      <span class="logo__link">Filmoteka</span>
    </a>
    <nav class="nav-menu">
      <ul class="nav-menu__list">
        <li class="nav-menu__item">
          <a class="nav-menu__link current-page-red" href="/src/index.html"
            >HOME</a
          >
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link" href="/src/library.html">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header-search">
    <svg class="header-search__icon-record is-hidden" width="18px" height="18px">
      <use href="./images/sprite/symbol-defs.svg#icon-record"></use>
    </svg>
    <button class="header-search__btn-mic" data-active-mic >
      <svg class="header-search__icon-mic" width="24px" height="24px">
        <use href="./images/sprite/symbol-defs.svg#icon-mic"></use>
      </svg>
    </button>
    <label>
      <input
      class="header-search__input js-search"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Movie search"
      requaired
    />
    </label>
    <svg class="header-search__icon" width="12px" height="12px">
      <use href="./images/sprite/symbol-defs.svg#icon-search"></use>
    </svg>
  </div>
    <div class="filter">
      <h2 class="filter__title">Filter movies</h2>
      <form class="filter__form">
      <select class="filter__input" name="genre_choice" id="genre_choice">
        <option value="">Choose genre</option>
      </select>
      <select class="filter__input" name="year_choice" id="year_choice"></select>
      <select class="filter__input" name="sort_choice" id="sort_choice">
      <option value="vote_average.desc">Sort by</option>
      <option value="vote_average.desc">Average voite</option>
      <option value="vote_count.desc">Vote count</option>
      <option value="popularity.desc">Popularity</option>
    </select>
  </form>
</div>
</header>
