<div class="loader__backdrop is-hidden">
    <div class="loader"></div>
</div>

<!-- <div class="loader__backdrop is-hidden"> 
    is-hidden
    <div class="loader"> 
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
        <div class="circle5"></div>
        <div class="circle6"></div>
        <div class="circle7"></div>
        <div class="circle8"></div>
    </div>
    <ul class="loader">
        <li class="circle--first"></li>
        <li class="circle--second"></li>
        <li class="circle--third"></li>
        <li class="circle--fourth"></li>
        <li class="circle--fifth"></li>
        <li class="circle--sixth"></li>
        <li class="circle--seventh"></li>
        <li class="circle--eighth"></li>
    </ul>   -->
<!-- </div> -->
