<div class="backdrop">
    <div class="modal">
        <button class="close__button"></button>
        <div class="image__place">
            <img src="" alt="">
        </div>
        <div class="content__place">
            <h2>MOVIE TITLE</h2>
            <div class="details">
                <ul class="details-head">
                    <li>Vote / Votes</li>
                    <li>Popularity</li>
                    <li>Original Title</li>
                    <li>Genre</li>
                </ul>
                <ul class="details-content">
                    <li><span class="vote--modal">vote</span> / votes</li>
                    <li>popularity</li>
                    <li>NAME</li>
                    <li>genre</li>
                </ul>
            </div>
            <h3>About</h3>
            <p>The place for annotation of movie</p>
            <button class="button">ADD TO WATCHED</button>
            <button class="button">ADD TO QUEUE</button>
        </div>
    </div>
</div>