.page-header {
  padding-top: 40px;
  padding-bottom: 92px;
  background-color: rgb(173, 45, 45);
  background: url(/src/images/header/header-background-mob1x.jpg);
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(/src/images/header/header-background-mob2x.jpg) cover;
  }
  &__text {
    padding-top: 16px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
    background-color: rgb(173, 45, 45);
    background: url(/src/images/header/header-background-tablet1x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/src/images/header/header-background-tablet2x.jpg)
        cover;
    }
    &__text {
      padding-top: 20px;
    }
  }
  @media screen and (min-width: 1280px) {
    background-color: rgb(173, 45, 45);
    background: url(/src/images/header/header-background-desktop1x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/src/images/header/header-background-desktop2x.jpg)
        cover;
    }
  }
}
.search-form {
  display: flex;
}
.search-form__input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 450px;
}

// input[type='email']::placeholder {}
