.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0 auto;

    @media screen and (min-width: $tablet) {
        .container {
            width: 768px;
            padding-left: 32px;
            padding-right: 32px;
            padding-bottom: 50px;
        }
    }

    @media screen and (min-width: $desktop) {
        .container {
            width: 1024px;


        }
    }
}

p {
    margin: 0;
}

.gallery {
    display: grid;
    gap: 20px;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;


    @media screen and (min-width: $tablet) {
        gap: 32px;
        grid-template-columns: repeat(2, 336px);
    }

    @media screen and (min-width: $desktop) {
        gap: 32px 16px;
        grid-template-columns: repeat(3, 395px);
    }
}

.movie-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 280px;
    height: 443px;
    text-decoration: none;

    @media screen and (min-width: $tablet) {
            width: 336px;
            height: 495px;
        }

     @media screen and (min-width: $desktop) {
            width: 395;
            height: 634px;
        }
    
}

.movie-card__img {
    display: block;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));


    @media screen and (min-width: $tablet) {
            height: 455px;
        }
     @media screen and (min-width: $desktop) {
            height: 574px
        }
}

.movie-card__info {
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(16 / 12);
    // display: flex;
    // align-items: flex-end;
    padding-top: 10px;

    @media screen and (min-width: $tablet) {
        padding-top: 8px;
        }
    
        @media screen and (min-width: $desktop) {
            font-size: 20px;
            line-height: calc(16 / 12);
            padding-top: 12px
        }
}

.movie-card__info-name {
    line-height: 1.17;
    text-transform: uppercase;
    color: getColor(main-title-color);
}

.movie-card__info-item {
    color: getColor(description-accent-color);
}

.card__rating {
    border-radius: 5px;
    background-color: getColor(button-active/hover-color);
    padding: 1px 6px 1px 6px;
    margin-left: 10px;
    font-size: 13px;
    line-height: calc(16 / 12);

    @media screen and (min-width: $tablet) {
            font-size: 15px;
            line-height: calc(16 / 12);
        }

    @media screen and (min-width: $desktop) {
            font-size: 20px;
            line-height: calc(16 / 12) ;
        }
}

.card__rating--text {
    color: getColor(header-text-color);
    line-height: calc(14 / 12);
    text-align: center;
    margin: 0;
}

.movi-card__info-wraper {
    display: flex;
    justify-content:space-between;
    
    @media screen and (min-width: $desktop) {
        justify-content: flex-start;
       
       
        }
}